.glyphicon-refresh-animate {
	-animation: spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}

.avatar {
	display:block;
    margin: auto auto 10px;
}

body{
    text-align: center;
    padding: 100px 10px 10px;
}
.navbar {
    padding: 0 10px 0;
    background-color: #F9F9F9;
    border-color: #DDD;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #EEEEEE;
}

.navbar-brand {
    padding: 5px;
}

.navbar-inverse .navbar-toggle {
    border-color: #EEEEEE;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #68B8CC;
}

#logo {
    height: 40px;
}

#connect {
    display: none;
}



@media screen and (min-width: 992px){
	body{
		text-align: left;
        padding: 100px;
	}
    .navbar {
        padding: 0 120px 0;
    }
}
